{%- comment -%}
  __default-template.liquid

  This is a default template file for your Shopify theme.
  Customize the content and structure according to your theme's requirements.
{%- endcomment -%}

{%- assign headerSnippetPath = "header-search" -%}{%- assign wfPage = "65590ea45dae3bf0289a7ea1" -%}{%- assign bodyClasses = "" -%}
  {%- section 'custom_marquee' -%}
  {%- render 'navigation-1' -%}

  <main role="main">
    {{ content_for_layout }}
  </main>

  <footer>
    <!-- Your footer content goes here -->
  </footer>

  {{ content_for_footer }}

  {{ content_for_layout | stylesheet_tag }}
  {{ content_for_header | script_tag }}
</body>
</html>