{% capture listItems %}
{% for item in collections[settings.collection_3_dcor].products limit: settings.collection_3_dcor_limit %}
<div role="listitem" class="w-dyn-item"></div>
{%- endfor -%}
{% endcapture %}
{% assign items_length = listItems | strip | size %}
<div class="collection-wrapper w-dyn-list" udy-collection="product">
      {%- unless items_length == 0 -%}<div fs-countitems-element="list-3" role="list" class="w-dyn-items">
        {{ listItems }}
      </div>{%- endunless -%}
      {%- if items_length == 0 -%}<div class="w-dyn-empty">
        <div>No items found.</div>
      </div>{%- endif -%}
    </div>